In [1]:
import requests
import pandas as pd
import numpy as np
import json

In [160]:
url = 'https://recruitment.aimtechnologies.co/ai-tasks'

In [161]:
data=pd.read_csv('dialect_dataset.csv')

In [162]:
data

                         id dialect
0       1175358310087892992      IQ
1       1175416117793349632      IQ
2       1175450108898565888      IQ
3       1175471073770573824      IQ
4       1175496913145217024      IQ
...                     ...     ...
458192  1019484980282580992      BH
458193  1021083283709407232      BH
458194  1017477537889431552      BH
458195  1022430374696239232      BH
458196  1022409931029458944      BH

[458197 rows x 2 columns]

In [168]:
data['id']=data['id'].map(str)

In [169]:
df=pd.DataFrame(columns=['id','text'])
c=0
for i in range(459):
    x=data.iloc[c:c+1000,0]
    x=list(x)
    response = requests.post(url=url, json=x)
    ll=response.json()
    df1=pd.DataFrame(list(ll.items()),columns=['id','text'])
    df=df.append(df1)
    c+=1000

In [170]:
df

                      id                                               text
0    1175358310087892992   @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1    1175416117793349632  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2    1175450108898565888                    @KanaanRema مبين من كلامه خليجي
3    1175471073770573824         @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4    1175496913145217024                 @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺
..                   ...                                                ...
192  1019484980282580992              @Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
193  1021083283709407232       @Zzainabali @P_ameerah والله ماينده ابش يختي
194  1017477537889431552  @Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
195  1022430374696239232        @haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
196  1022409931029458944          @jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

[458197 rows x 2 columns]

In [171]:
df=pd.merge(data,df,on='id')

In [172]:
df

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺
...,...,...,...
458192,1019484980282580992,BH,@Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
458193,1021083283709407232,BH,@Zzainabali @P_ameerah والله ماينده ابش يختي
458194,1017477537889431552,BH,@Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
458195,1022430374696239232,BH,@haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
458196,1022409931029458944,BH,@jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

In [173]:
df.to_csv('all_data.csv', index=False)